<%= page_header "Formas de Pagamento" %>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Conta Preferencial</th>
    </tr>
  </thead>
  <tbody>
    <% @formas.each do |forma| %>
      <tr>
        <td><%= link_to forma.nome, edit_forma_path(forma) %></td>
        <td>
          <%= forma.conta.try :nome %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="index_count"><span><%= @formas.count %></span> formas encontradas.</p>

<div class="bottom-actions">
  <%= link_to(icon(:plus, 'Incluir Forma de Pagamento'), new_forma_path, class: 'btn btn-sm btn-primary') %>
</div>
