<%= page_header "Categorias" %>

<div class="row">

  <div class="col-md-8">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @categorias.each do |categoria| %>
          <tr>
            <td><%= link_to categoria.nome, edit_categoria_path(categoria) %></td>
            <td><%= label_cd(categoria.cd) %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="index_count"><span><%= @categorias.count %></span> categorias encontradas.</p>

    <%= link_to(icon(:plus, 'Nova Categoria'), new_categoria_path, class: 'btn btn-primary') %>

  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtros</h3>
      </div>
      <div id="filtro_pedidos" class="panel-body">
        <%= simple_form_for @search, url: categorias_path, method: 'GET' do |f| %>
          <%= f.input :nome_cont, label: "Nome" %>

          <%= f.submit 'Filtrar', class: 'btn btn-info' %>
          <%= button_tag 'Limpar', class: 'btn btn-default clear' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
