
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Editar Registro <%= label_cd(@registro.cd) %> </h4>
</div>
<%= simple_form_for @registro, remote: false do |f| %>
  <div class="modal-body">

    <%= f.input :descricao, label: 'Descrição' %>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :data %>
      </div>
      <div class="col-md-6">
        <%= currency_group(f, :valor) %>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :conta, label_method: :nome %>
      </div>
      <div class="col-md-6">
        <%= f.association :forma, label_method: :nome, label: 'Forma de Pagamento' %>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-6">
        <%= f.association :categoria, collection: Categoria.por_cd(@registro.cd), label_method: :nome %>
      </div>      
      <div class="col-md-6">
        <%= f.association :colecao, collection: Colecao.to_select, label: 'Coleção' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :pago, as: :boolean, label: false %>
      </div>
    </div>


  </div>
  <div class="modal-footer">

    <%= link_to icon(:trash, 'Apagar este Registro'),
          @registro,
          method: :delete,
          data: { confirm: 'Tem certeza?' },
          class: 'btn btn-sm text-danger pull-left' %>

    <%= link_to icon(:refresh, "Duplicar este Registro"),
                duplicate_registro_path(@registro),
                method: 'POST',
                data: { confirm: "Confirma Duplicação?" },
                class: 'btn btn-sm text-primary pull-left' %>

    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <%= f.submit "Salvar Registro", class: 'btn btn-primary' %>
  </div>
<% end %>
