<!DOCTYPE html>
<html>
<head>
  <title>FIN</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

<%= render partial: 'layouts/navbar' %>

<div class="container">
<%= yield %>
</div>

<div class="modal fade" id="global_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</body>
</html>
